html{
    background-color: #363737;
}

.center{
    text-align: center;
}

h1,h3{
    color : #005c5c;
}

@font-face {
    font-family: Tak Cubit;
    src: url(./fonts/tak_cubit/Tak\ Cubit.ttf);
}

h1{
    font-family: Tak Cubit;
    font-size: 100px;
}


.container{
    text-align: center;
    width: 70%;
    margin: auto;
}

.dice{
    display: inline-block;
    text-align: center;
}

img{
    width: 80%;
}